<!--
 _       _                         _ 
| |_ ___| |__   ___   __ _ _ __ __| |
| __/ __| '_ \ / _ \ / _` | '__/ _` |
| |_\__ \ |_) | (_) | (_| | | | (_| |
 \__|___/_.__/ \___/ \__,_|_|  \__,_|

#TSBOARD.VERSION# | tsboard.dev                                 
-->
<!doctype html>
<html lang="ko">
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="anonymous" />
    <link
      rel="preload"
      as="style"
      onload="this.rel='stylesheet'"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
    />
    <meta charset="UTF-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&family=Protest+Strike&display=swap"
      rel="stylesheet"
    />
    <link href="/seo/style.css" rel="stylesheet" />
    <title>#TSBOARD.SITE.TITLE#</title>
  </head>
  <body>
    <div id="tsboardApp">
      <header id="tsboardToolbar">
        <h1 class="title">
          <a
            href="#TSBOARD.API.URI#"
            target="_blank"
            title="사용자를 위해 준비된 실제 홈페이지 열기"
            >#TSBOARD.SITE.NAME#</a
          >
        </h1>
      </header>

      <div id="tsboardContainer">#ARTICLES#</div>

      <footer id="tsboardFooter">
        <p>
          이 페이지는 검색 엔진이 #TSBOARD.SITE.NAME# 사이트의 색인 작업을 간편하게 할 수 있도록
          제작 되었습니다.
        </p>
        <p>
          실제 사용자를 위한 페이지는
          <a href="#TSBOARD.API.URI#" target="_blank">여기를 클릭</a>하여 확인 하실 수 있습니다.
        </p>
        <p class="poweredBy">
          <a
            href="https://tsboard.dev"
            target="_blank"
            title="이 사이트는 TSBOARD로 제작 되었습니다."
            >tsboard.dev</a
          >
        </p>
      </footer>
    </div>
  </body>
</html>
