.tiptap,
.tsboard {
  padding: 20px;
  line-height: 1.8em;
  min-height: 200px;

  a {
    text-decoration: none;
    color: #37474f;
  }

  ul,
  ol {
    padding: 0 1.5rem;
  }

  h1 {
    line-height: 2;
    font-size: 2em;
  }
  h2 {
    line-height: 1.9;
    font-size: 1.8em;
  }
  h3 {
    line-height: 1.8;
    font-size: 1.6em;
  }
  h4 {
    line-height: 1.7;
    font-size: 1.4em;
  }
  h5 {
    line-height: 1.5;
    font-size: 1.2em;
  }
  h6 {
    line-height: 1.3;
    font-size: 1.1em;
  }

  code {
    background-color: rgba(120, 120, 120, 0.1);
    color: #616161;
  }

  pre {
    background: #0d0d0d;
    color: #fff;
    font-family: "JetBrainsMono", monospace;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
    margin: 1rem 0;
    overflow: auto;

    code {
      color: inherit;
      padding: 0;
      background: none;
      font-size: 0.9rem;
    }

    .hljs-comment,
    .hljs-quote {
      color: #616161;
    }

    .hljs-variable,
    .hljs-template-variable,
    .hljs-attribute,
    .hljs-tag,
    .hljs-name,
    .hljs-regexp,
    .hljs-link,
    .hljs-name,
    .hljs-selector-id,
    .hljs-selector-class {
      color: #f98181;
    }

    .hljs-number,
    .hljs-meta,
    .hljs-built_in,
    .hljs-builtin-name,
    .hljs-literal,
    .hljs-type,
    .hljs-params {
      color: #fbbc88;
    }

    .hljs-string,
    .hljs-symbol,
    .hljs-bullet {
      color: #b9f18d;
    }

    .hljs-title,
    .hljs-section {
      color: #faf594;
    }

    .hljs-keyword,
    .hljs-selector-tag {
      color: #70cff8;
    }

    .hljs-emphasis {
      font-style: italic;
    }

    .hljs-strong {
      font-weight: 700;
    }
  }

  img {
    max-width: 100%;
    height: auto;
  }

  blockquote {
    padding: 1rem;
    border-left: 2px solid rgba(30, 30, 30, 0.1);
    background-color: rgba(200, 200, 200, 0.1);
    margin: 1rem 0;
  }

  hr {
    border: none;
    border-top: 1px solid rgba(30, 30, 30, 0.1);
    margin: 1rem 0;
  }

  table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
    margin: 0;
    overflow: hidden;

    td,
    th {
      min-width: 1em;
      border: 1px solid #ced4da;
      padding: 3px 5px;
      vertical-align: top;
      box-sizing: border-box;
      position: relative;

      > * {
        margin-bottom: 0;
      }
    }

    th {
      font-weight: bold;
      text-align: left;
      background-color: #f1f3f5;
    }

    .selectedCell:after {
      z-index: 2;
      position: absolute;
      content: "";
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: rgba(200, 200, 255, 0.4);
      pointer-events: none;
    }

    .column-resize-handle {
      position: absolute;
      right: -2px;
      top: 0;
      bottom: -2px;
      width: 4px;
      background-color: #adf;
      pointer-events: none;
    }

    p {
      margin: 0;
    }
  }
}

.tableWrapper {
  padding: 1rem 0;
  overflow-x: auto;
}

.resize-cursor {
  cursor: ew-resize;
  cursor: col-resize;
}
